# Banking Transaction Log
### Problem Statement:
    Perform cleaning and exploratory analysis on banking transactions. Fill missing transaction types, analyze daily transactions, and flag suspicious patterns (e.g., high withdrawal amount).
    Key Tools: .duplicated(), .cumsum(), .resample(), .rolling(), np.where(), .sort_values()

In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('banking_transactions.csv')
df = df.copy()
df

,Transaction_ID,Account_Number,Transaction_Date,Transaction_Type,Amount,Location
0,30001,459741,2023-06-01,Debit,10000.0,Mumbai
1,30002,158767,2023-06-02,NaN,7500.0,Delhi
2,30003,186522,2023-06-03,NaN,1000.0,Bangalore
3,30004,378346,2023-06-04,NaN,NaN,NaN
4,30005,463410,2023-06-05,Transfer,7500.0,NaN
5,30006,559934,2023-06-06,Debit,2500.0,Bangalore
6,30007,161371,2023-06-07,NaN,10000.0,Mumbai
7,30008,218405,2023-06-08,NaN,10000.0,Delhi
8,30009,370480,2023-06-09,Credit,NaN,Mumbai
9,30010,790015,2023-06-10,Credit,5000.0,Mumbai
10,30011,638208,2023-06-11,Debit,NaN,Bangalore
11,30012,977500,2023-06-12,Credit,NaN,NaN
12,30013,377931,2023-06-13,Debit,5000.0,Hyderabad
13,30014,693644,2023-06-14,Debit,10000.0,Mumbai
14,30015,700351,2023-06-15,Transfer,5000.0,Bangalore
15,30016,588035,2023-06-16,Transfer,2500.0,Delhi
16,30017,207820,2023-06-17,NaN,5000.0,Hyderabad
17,30018,717240,2023-06-18,Transfer,7500.0,Hyderabad
18,30019,606814,2023-06-19,Credit,2500.0,Delhi
19,30020,613871,2023-06-20,Credit,NaN,NaN
20,30021,402925,2023-06-21,Transfer,NaN,NaN
21,30022,574657,2023-06-22,Credit,7500.0,NaN
22,30023,257700,2023-06-23,Transfer,7500.0,Mumbai
23,30024,757959,2023-06-24,NaN,1000.0,Delhi
24,30025,610076,2023-06-25,NaN,10000.0,Mumbai
25,30026,525027,2023-06-26,Debit,7500.0,Delhi
26,30027,426818,2023-06-27,Transfer,7500.0,Bangalore
27,30028,579274,2023-06-28,Credit,NaN,Bangalore
28,30029,579054,2023-06-29,Debit,7500.0,NaN
29,30030,799090,2023-06-30,Credit,7500.0,Bangalore
30,30031,574982,2023-07-01,NaN,1000.0,NaN
31,30032,955078,2023-07-02,Credit,5000.0,Mumbai
32,30033,878618,2023-07-03,Transfer,7500.0,Bangalore
33,30034,735002,2023-07-04,Debit,NaN,NaN
34,30035,672926,2023-07-05,NaN,2500.0,NaN
35,30036,333221,2023-07-06,NaN,NaN,Delhi
36,30037,335002,2023-07-07,Transfer,7500.0,Delhi
37,30038,733051,2023-07-08,NaN,5000.0,Delhi
38,30039,762005,2023-07-09,Credit,NaN,Delhi
39,30040,452552,2023-07-10,Transfer,7500.0,NaN
40,30041,268133,2023-07-11,Credit,5000.0,Hyderabad
41,30042,819365,2023-07-12,Debit,NaN,NaN
42,30043,859815,2023-07-13,NaN,5000.0,Delhi
43,30044,248942,2023-07-14,NaN,1000.0,Delhi
44,30045,715273,2023-07-15,NaN,10000.0,Delhi
45,30046,454843,2023-07-16,Credit,1000.0,Bangalore
46,30047,588115,2023-07-17,NaN,2500.0,NaN
47,30048,967405,2023-07-18,Credit,7500.0,Hyderabad
48,30049,535115,2023-07-19,NaN,1000.0,Bangalore
49,30050,231246,2023-07-20,Credit,1000.0,Hyderabad

In [14]:
df.isnull().sum()

Transaction_ID       0
Account_Number       0
Transaction_Date     0
Transaction_Type    17
Amount              11
Location            13
dtype: int64

In [15]:
df['Location'] = df['Location'].ffill()

In [16]:
df

,Transaction_ID,Account_Number,Transaction_Date,Transaction_Type,Amount,Location
0,30001,459741,2023-06-01,Debit,10000.0,Mumbai
1,30002,158767,2023-06-02,NaN,7500.0,Delhi
2,30003,186522,2023-06-03,NaN,1000.0,Bangalore
3,30004,378346,2023-06-04,NaN,NaN,Bangalore
4,30005,463410,2023-06-05,Transfer,7500.0,Bangalore
5,30006,559934,2023-06-06,Debit,2500.0,Bangalore
6,30007,161371,2023-06-07,NaN,10000.0,Mumbai
7,30008,218405,2023-06-08,NaN,10000.0,Delhi
8,30009,370480,2023-06-09,Credit,NaN,Mumbai
9,30010,790015,2023-06-10,Credit,5000.0,Mumbai
10,30011,638208,2023-06-11,Debit,NaN,Bangalore
11,30012,977500,2023-06-12,Credit,NaN,Bangalore
12,30013,377931,2023-06-13,Debit,5000.0,Hyderabad
13,30014,693644,2023-06-14,Debit,10000.0,Mumbai
14,30015,700351,2023-06-15,Transfer,5000.0,Bangalore
15,30016,588035,2023-06-16,Transfer,2500.0,Delhi
16,30017,207820,2023-06-17,NaN,5000.0,Hyderabad
17,30018,717240,2023-06-18,Transfer,7500.0,Hyderabad
18,30019,606814,2023-06-19,Credit,2500.0,Delhi
19,30020,613871,2023-06-20,Credit,NaN,Delhi
20,30021,402925,2023-06-21,Transfer,NaN,Delhi
21,30022,574657,2023-06-22,Credit,7500.0,Delhi
22,30023,257700,2023-06-23,Transfer,7500.0,Mumbai
23,30024,757959,2023-06-24,NaN,1000.0,Delhi
24,30025,610076,2023-06-25,NaN,10000.0,Mumbai
25,30026,525027,2023-06-26,Debit,7500.0,Delhi
26,30027,426818,2023-06-27,Transfer,7500.0,Bangalore
27,30028,579274,2023-06-28,Credit,NaN,Bangalore
28,30029,579054,2023-06-29,Debit,7500.0,Bangalore
29,30030,799090,2023-06-30,Credit,7500.0,Bangalore
30,30031,574982,2023-07-01,NaN,1000.0,Bangalore
31,30032,955078,2023-07-02,Credit,5000.0,Mumbai
32,30033,878618,2023-07-03,Transfer,7500.0,Bangalore
33,30034,735002,2023-07-04,Debit,NaN,Bangalore
34,30035,672926,2023-07-05,NaN,2500.0,Bangalore
35,30036,333221,2023-07-06,NaN,NaN,Delhi
36,30037,335002,2023-07-07,Transfer,7500.0,Delhi
37,30038,733051,2023-07-08,NaN,5000.0,Delhi
38,30039,762005,2023-07-09,Credit,NaN,Delhi
39,30040,452552,2023-07-10,Transfer,7500.0,Delhi
40,30041,268133,2023-07-11,Credit,5000.0,Hyderabad
41,30042,819365,2023-07-12,Debit,NaN,Hyderabad
42,30043,859815,2023-07-13,NaN,5000.0,Delhi
43,30044,248942,2023-07-14,NaN,1000.0,Delhi
44,30045,715273,2023-07-15,NaN,10000.0,Delhi
45,30046,454843,2023-07-16,Credit,1000.0,Bangalore
46,30047,588115,2023-07-17,NaN,2500.0,Bangalore
47,30048,967405,2023-07-18,Credit,7500.0,Hyderabad
48,30049,535115,2023-07-19,NaN,1000.0,Bangalore
49,30050,231246,2023-07-20,Credit,1000.0,Hyderabad

In [17]:
df.fillna({'Amount':df['Amount'].mean().round()}, inplace=True)

In [18]:
df

,Transaction_ID,Account_Number,Transaction_Date,Transaction_Type,Amount,Location
0,30001,459741,2023-06-01,Debit,10000.0,Mumbai
1,30002,158767,2023-06-02,NaN,7500.0,Delhi
2,30003,186522,2023-06-03,NaN,1000.0,Bangalore
3,30004,378346,2023-06-04,NaN,5564.0,Bangalore
4,30005,463410,2023-06-05,Transfer,7500.0,Bangalore
5,30006,559934,2023-06-06,Debit,2500.0,Bangalore
6,30007,161371,2023-06-07,NaN,10000.0,Mumbai
7,30008,218405,2023-06-08,NaN,10000.0,Delhi
8,30009,370480,2023-06-09,Credit,5564.0,Mumbai
9,30010,790015,2023-06-10,Credit,5000.0,Mumbai
10,30011,638208,2023-06-11,Debit,5564.0,Bangalore
11,30012,977500,2023-06-12,Credit,5564.0,Bangalore
12,30013,377931,2023-06-13,Debit,5000.0,Hyderabad
13,30014,693644,2023-06-14,Debit,10000.0,Mumbai
14,30015,700351,2023-06-15,Transfer,5000.0,Bangalore
15,30016,588035,2023-06-16,Transfer,2500.0,Delhi
16,30017,207820,2023-06-17,NaN,5000.0,Hyderabad
17,30018,717240,2023-06-18,Transfer,7500.0,Hyderabad
18,30019,606814,2023-06-19,Credit,2500.0,Delhi
19,30020,613871,2023-06-20,Credit,5564.0,Delhi
20,30021,402925,2023-06-21,Transfer,5564.0,Delhi
21,30022,574657,2023-06-22,Credit,7500.0,Delhi
22,30023,257700,2023-06-23,Transfer,7500.0,Mumbai
23,30024,757959,2023-06-24,NaN,1000.0,Delhi
24,30025,610076,2023-06-25,NaN,10000.0,Mumbai
25,30026,525027,2023-06-26,Debit,7500.0,Delhi
26,30027,426818,2023-06-27,Transfer,7500.0,Bangalore
27,30028,579274,2023-06-28,Credit,5564.0,Bangalore
28,30029,579054,2023-06-29,Debit,7500.0,Bangalore
29,30030,799090,2023-06-30,Credit,7500.0,Bangalore
30,30031,574982,2023-07-01,NaN,1000.0,Bangalore
31,30032,955078,2023-07-02,Credit,5000.0,Mumbai
32,30033,878618,2023-07-03,Transfer,7500.0,Bangalore
33,30034,735002,2023-07-04,Debit,5564.0,Bangalore
34,30035,672926,2023-07-05,NaN,2500.0,Bangalore
35,30036,333221,2023-07-06,NaN,5564.0,Delhi
36,30037,335002,2023-07-07,Transfer,7500.0,Delhi
37,30038,733051,2023-07-08,NaN,5000.0,Delhi
38,30039,762005,2023-07-09,Credit,5564.0,Delhi
39,30040,452552,2023-07-10,Transfer,7500.0,Delhi
40,30041,268133,2023-07-11,Credit,5000.0,Hyderabad
41,30042,819365,2023-07-12,Debit,5564.0,Hyderabad
42,30043,859815,2023-07-13,NaN,5000.0,Delhi
43,30044,248942,2023-07-14,NaN,1000.0,Delhi
44,30045,715273,2023-07-15,NaN,10000.0,Delhi
45,30046,454843,2023-07-16,Credit,1000.0,Bangalore
46,30047,588115,2023-07-17,NaN,2500.0,Bangalore
47,30048,967405,2023-07-18,Credit,7500.0,Hyderabad
48,30049,535115,2023-07-19,NaN,1000.0,Bangalore
49,30050,231246,2023-07-20,Credit,1000.0,Hyderabad

In [19]:
df.isnull().sum()

Transaction_ID       0
Account_Number       0
Transaction_Date     0
Transaction_Type    17
Amount               0
Location             0
dtype: int64

In [20]:
df.fillna({'Transaction_Type':'Unknown'}, inplace = True)

In [21]:
df

,Transaction_ID,Account_Number,Transaction_Date,Transaction_Type,Amount,Location
0,30001,459741,2023-06-01,Debit,10000.0,Mumbai
1,30002,158767,2023-06-02,Unknown,7500.0,Delhi
2,30003,186522,2023-06-03,Unknown,1000.0,Bangalore
3,30004,378346,2023-06-04,Unknown,5564.0,Bangalore
4,30005,463410,2023-06-05,Transfer,7500.0,Bangalore
5,30006,559934,2023-06-06,Debit,2500.0,Bangalore
6,30007,161371,2023-06-07,Unknown,10000.0,Mumbai
7,30008,218405,2023-06-08,Unknown,10000.0,Delhi
8,30009,370480,2023-06-09,Credit,5564.0,Mumbai
9,30010,790015,2023-06-10,Credit,5000.0,Mumbai
10,30011,638208,2023-06-11,Debit,5564.0,Bangalore
11,30012,977500,2023-06-12,Credit,5564.0,Bangalore
12,30013,377931,2023-06-13,Debit,5000.0,Hyderabad
13,30014,693644,2023-06-14,Debit,10000.0,Mumbai
14,30015,700351,2023-06-15,Transfer,5000.0,Bangalore
15,30016,588035,2023-06-16,Transfer,2500.0,Delhi
16,30017,207820,2023-06-17,Unknown,5000.0,Hyderabad
17,30018,717240,2023-06-18,Transfer,7500.0,Hyderabad
18,30019,606814,2023-06-19,Credit,2500.0,Delhi
19,30020,613871,2023-06-20,Credit,5564.0,Delhi
20,30021,402925,2023-06-21,Transfer,5564.0,Delhi
21,30022,574657,2023-06-22,Credit,7500.0,Delhi
22,30023,257700,2023-06-23,Transfer,7500.0,Mumbai
23,30024,757959,2023-06-24,Unknown,1000.0,Delhi
24,30025,610076,2023-06-25,Unknown,10000.0,Mumbai
25,30026,525027,2023-06-26,Debit,7500.0,Delhi
26,30027,426818,2023-06-27,Transfer,7500.0,Bangalore
27,30028,579274,2023-06-28,Credit,5564.0,Bangalore
28,30029,579054,2023-06-29,Debit,7500.0,Bangalore
29,30030,799090,2023-06-30,Credit,7500.0,Bangalore
30,30031,574982,2023-07-01,Unknown,1000.0,Bangalore
31,30032,955078,2023-07-02,Credit,5000.0,Mumbai
32,30033,878618,2023-07-03,Transfer,7500.0,Bangalore
33,30034,735002,2023-07-04,Debit,5564.0,Bangalore
34,30035,672926,2023-07-05,Unknown,2500.0,Bangalore
35,30036,333221,2023-07-06,Unknown,5564.0,Delhi
36,30037,335002,2023-07-07,Transfer,7500.0,Delhi
37,30038,733051,2023-07-08,Unknown,5000.0,Delhi
38,30039,762005,2023-07-09,Credit,5564.0,Delhi
39,30040,452552,2023-07-10,Transfer,7500.0,Delhi
40,30041,268133,2023-07-11,Credit,5000.0,Hyderabad
41,30042,819365,2023-07-12,Debit,5564.0,Hyderabad
42,30043,859815,2023-07-13,Unknown,5000.0,Delhi
43,30044,248942,2023-07-14,Unknown,1000.0,Delhi
44,30045,715273,2023-07-15,Unknown,10000.0,Delhi
45,30046,454843,2023-07-16,Credit,1000.0,Bangalore
46,30047,588115,2023-07-17,Unknown,2500.0,Bangalore
47,30048,967405,2023-07-18,Credit,7500.0,Hyderabad
48,30049,535115,2023-07-19,Unknown,1000.0,Bangalore
49,30050,231246,2023-07-20,Credit,1000.0,Hyderabad

In [22]:
df.isnull().sum()

Transaction_ID      0
Account_Number      0
Transaction_Date    0
Transaction_Type    0
Amount              0
Location            0
dtype: int64

In [24]:
df.to_csv('cleaned_banking_data.csv', index=False)