# HR Employee Records
### Problem Statement:
    Process employee data for inconsistencies, fill missing ratings, compute average salaries by department, and identify low-performing departments.
    Key Functions: .pivot_table(), .nunique(), .clip(), .qcut(), np.percentile(), .dt.year, .value_counts()

In [2]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('hr_employees.csv')
df = df.copy()
df

    Emp_ID     Name Department   Join_Date   Salary  Performance_Rating
0     6001    Alice  Marketing  2022-01-01  40000.0                 3.0
1     6002      Bob    Finance  2022-01-08  25000.0                 NaN
2     6003  Charlie        NaN  2022-01-15  40000.0                 4.0
3     6004  Charlie  Marketing  2022-01-22      NaN                 NaN
4     6005    Frank      Admin  2022-01-29      NaN                 5.0
5     6006  Charlie         HR  2022-02-05  30000.0                 4.0
6     6007    Frank    Finance  2022-02-12  40000.0                 5.0
7     6008    David         HR  2022-02-19  40000.0                 NaN
8     6009    Frank      Admin  2022-02-26  50000.0                 2.0
9     6010      Bob      Admin  2022-03-05  30000.0                 3.0
10    6011  Charlie    Finance  2022-03-12      NaN                 3.0
11    6012    Frank        NaN  2022-03-19  50000.0                 5.0
12    6013  Charlie      Admin  2022-03-26  50000.0                 4.0
13    6014    Frank  Marketing  2022-04-02      NaN                 1.0
14    6015    Frank       Tech  2022-04-09  30000.0                 3.0
15    6016      Eva  Marketing  2022-04-16  25000.0                 NaN
16    6017      Bob       Tech  2022-04-23  40000.0                 3.0
17    6018      Bob         HR  2022-04-30  25000.0                 4.0
18    6019    Frank  Marketing  2022-05-07  50000.0                 4.0
19    6020    Alice       Tech  2022-05-14  40000.0                 5.0
20    6021      Bob      Admin  2022-05-21  50000.0                 3.0
21    6022    Alice         HR  2022-05-28  30000.0                 NaN
22    6023      Bob        NaN  2022-06-04  50000.0                 3.0
23    6024  Charlie    Finance  2022-06-11  40000.0                 5.0
24    6025      Bob       Tech  2022-06-18  50000.0                 3.0
25    6026    Alice      Admin  2022-06-25  25000.0                 5.0
26    6027    David    Finance  2022-07-02  25000.0                 3.0
27    6028    Alice      Admin  2022-07-09      NaN                 1.0
28    6029    Frank        NaN  2022-07-16  25000.0                 1.0
29    6030    Alice       Tech  2022-07-23  40000.0                 NaN
30    6031    Alice    Finance  2022-07-30  40000.0                 3.0
31    6032  Charlie      Admin  2022-08-06  25000.0                 5.0
32    6033    David  Marketing  2022-08-13  50000.0                 4.0
33    6034      Bob  Marketing  2022-08-20  40000.0                 1.0
34    6035    David    Finance  2022-08-27  50000.0                 5.0
35    6036    Frank        NaN  2022-09-03      NaN                 4.0
36    6037    David        NaN  2022-09-10  30000.0                 5.0
37    6038  Charlie       Tech  2022-09-17  50000.0                 5.0
38    6039  Charlie        NaN  2022-09-24  40000.0                 NaN
39    6040    Frank    Finance  2022-10-01      NaN                 2.0
40    6041      Bob    Finance  2022-10-08  30000.0                 1.0
41    6042    David    Finance  2022-10-15  40000.0                 4.0
42    6043    David       Tech  2022-10-22  50000.0                 NaN
43    6044  Charlie        NaN  2022-10-29  30000.0                 4.0
44    6045  Charlie         HR  2022-11-05  40000.0                 NaN
45    6046    David        NaN  2022-11-12  30000.0                 3.0
46    6047    Frank      Admin  2022-11-19      NaN                 4.0
47    6048  Charlie      Admin  2022-11-26  50000.0                 1.0
48    6049    David  Marketing  2022-12-03  25000.0                 2.0
49    6050    David  Marketing  2022-12-10  40000.0                 5.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Emp_ID              50 non-null     int64
 1   Name                50 non-null     object
 2   Department          41 non-null     object
 3   Join_Date           50 non-null     object
 4   Salary              42 non-null     float64
 5   Performance_Rating  41 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.5+ KB

In [5]:
df.isnull().sum()

Emp_ID                0
Name                  0
Department            9
Join_Date             0
Salary                8
Performance_Rating    9
dtype: int64

In [6]:
df['Department'] = df['Department'].ffill()

In [7]:
df

    Emp_ID     Name Department   Join_Date   Salary  Performance_Rating
0     6001    Alice  Marketing  2022-01-01  40000.0                 3.0
1     6002      Bob    Finance  2022-01-08  25000.0                 NaN
2     6003  Charlie    Finance  2022-01-15  40000.0                 4.0
3     6004  Charlie  Marketing  2022-01-22      NaN                 NaN
4     6005    Frank      Admin  2022-01-29      NaN                 5.0
5     6006  Charlie         HR  2022-02-05  30000.0                 4.0
6     6007    Frank    Finance  2022-02-12  40000.0                 5.0
7     6008    David         HR  2022-02-19  40000.0                 NaN
8     6009    Frank      Admin  2022-02-26  50000.0                 2.0
9     6010      Bob      Admin  2022-03-05  30000.0                 3.0
10    6011  Charlie    Finance  2022-03-12      NaN                 3.0
11    6012    Frank    Finance  2022-03-19  50000.0                 5.0
12    6013  Charlie      Admin  2022-03-26  50000.0                 4.0
13    6014    Frank  Marketing  2022-04-02      NaN                 1.0
14    6015    Frank       Tech  2022-04-09  30000.0                 3.0
15    6016      Eva  Marketing  2022-04-16  25000.0                 NaN
16    6017      Bob       Tech  2022-04-23  40000.0                 3.0
17    6018      Bob         HR  2022-04-30  25000.0                 4.0
18    6019    Frank  Marketing  2022-05-07  50000.0                 4.0
19    6020    Alice       Tech  2022-05-14  40000.0                 5.0
20    6021      Bob      Admin  2022-05-21  50000.0                 3.0
21    6022    Alice         HR  2022-05-28  30000.0                 NaN
22    6023      Bob         HR  2022-06-04  50000.0                 3.0
23    6024  Charlie    Finance  2022-06-11  40000.0                 5.0
24    6025      Bob       Tech  2022-06-18  50000.0                 3.0
25    6026    Alice      Admin  2022-06-25  25000.0                 5.0
26    6027    David    Finance  2022-07-02  25000.0                 3.0
27    6028    Alice      Admin  2022-07-09      NaN                 1.0
28    6029    Frank      Admin  2022-07-16  25000.0                 1.0
29    6030    Alice       Tech  2022-07-23  40000.0                 NaN
30    6031    Alice    Finance  2022-07-30  40000.0                 3.0
31    6032  Charlie      Admin  2022-08-06  25000.0                 5.0
32    6033    David  Marketing  2022-08-13  50000.0                 4.0
33    6034      Bob  Marketing  2022-08-20  40000.0                 1.0
34    6035    David    Finance  2022-08-27  50000.0                 5.0
35    6036    Frank    Finance  2022-09-03      NaN                 4.0
36    6037    David    Finance  2022-09-10  30000.0                 5.0
37    6038  Charlie       Tech  2022-09-17  50000.0                 5.0
38    6039  Charlie       Tech  2022-09-24  40000.0                 NaN
39    6040    Frank    Finance  2022-10-01      NaN                 2.0
40    6041      Bob    Finance  2022-10-08  30000.0                 1.0
41    6042    David    Finance  2022-10-15  40000.0                 4.0
42    6043    David       Tech  2022-10-22  50000.0                 NaN
43    6044  Charlie       Tech  2022-10-29  30000.0                 4.0
44    6045  Charlie         HR  2022-11-05  40000.0                 NaN
45    6046    David         HR  2022-11-12  30000.0                 3.0
46    6047    Frank      Admin  2022-11-19      NaN                 4.0
47    6048  Charlie      Admin  2022-11-26  50000.0                 1.0
48    6049    David  Marketing  2022-12-03  25000.0                 2.0
49    6050    David  Marketing  2022-12-10  40000.0                 5.0

In [8]:
df.isnull().sum()

Emp_ID                0
Name                  0
Department            0
Join_Date             0
Salary                8
Performance_Rating    9
dtype: int64

In [9]:
df.fillna({'Salary':df['Salary'].mean().round()}, inplace=True)

In [10]:
df

    Emp_ID     Name Department   Join_Date   Salary  Performance_Rating
0     6001    Alice  Marketing  2022-01-01  40000.0                 3.0
1     6002      Bob    Finance  2022-01-08  25000.0                 NaN
2     6003  Charlie    Finance  2022-01-15  40000.0                 4.0
3     6004  Charlie  Marketing  2022-01-22  38095.0                 NaN
4     6005    Frank      Admin  2022-01-29  38095.0                 5.0
5     6006  Charlie         HR  2022-02-05  30000.0                 4.0
6     6007    Frank    Finance  2022-02-12  40000.0                 5.0
7     6008    David         HR  2022-02-19  40000.0                 NaN
8     6009    Frank      Admin  2022-02-26  50000.0                 2.0
9     6010      Bob      Admin  2022-03-05  30000.0                 3.0
10    6011  Charlie    Finance  2022-03-12  38095.0                 3.0
11    6012    Frank    Finance  2022-03-19  50000.0                 5.0
12    6013  Charlie      Admin  2022-03-26  50000.0                 4.0
13    6014    Frank  Marketing  2022-04-02  38095.0                 1.0
14    6015    Frank       Tech  2022-04-09  30000.0                 3.0
15    6016      Eva  Marketing  2022-04-16  25000.0                 NaN
16    6017      Bob       Tech  2022-04-23  40000.0                 3.0
17    6018      Bob         HR  2022-04-30  25000.0                 4.0
18    6019    Frank  Marketing  2022-05-07  50000.0                 4.0
19    6020    Alice       Tech  2022-05-14  40000.0                 5.0
20    6021      Bob      Admin  2022-05-21  50000.0                 3.0
21    6022    Alice         HR  2022-05-28  30000.0                 NaN
22    6023      Bob         HR  2022-06-04  50000.0                 3.0
23    6024  Charlie    Finance  2022-06-11  40000.0                 5.0
24    6025      Bob       Tech  2022-06-18  50000.0                 3.0
25    6026    Alice      Admin  2022-06-25  25000.0                 5.0
26    6027    David    Finance  2022-07-02  25000.0                 3.0
27    6028    Alice      Admin  2022-07-09  38095.0                 1.0
28    6029    Frank      Admin  2022-07-16  25000.0                 1.0
29    6030    Alice       Tech  2022-07-23  40000.0                 NaN
30    6031    Alice    Finance  2022-07-30  40000.0                 3.0
31    6032  Charlie      Admin  2022-08-06  25000.0                 5.0
32    6033    David  Marketing  2022-08-13  50000.0                 4.0
33    6034      Bob  Marketing  2022-08-20  40000.0                 1.0
34    6035    David    Finance  2022-08-27  50000.0                 5.0
35    6036    Frank    Finance  2022-09-03  38095.0                 4.0
36    6037    David    Finance  2022-09-10  30000.0                 5.0
37    6038  Charlie       Tech  2022-09-17  50000.0                 5.0
38    6039  Charlie       Tech  2022-09-24  40000.0                 NaN
39    6040    Frank    Finance  2022-10-01  38095.0                 2.0
40    6041      Bob    Finance  2022-10-08  30000.0                 1.0
41    6042    David    Finance  2022-10-15  40000.0                 4.0
42    6043    David       Tech  2022-10-22  50000.0                 NaN
43    6044  Charlie       Tech  2022-10-29  30000.0                 4.0
44    6045  Charlie         HR  2022-11-05  40000.0                 NaN
45    6046    David         HR  2022-11-12  30000.0                 3.0
46    6047    Frank      Admin  2022-11-19  38095.0                 4.0
47    6048  Charlie      Admin  2022-11-26  50000.0                 1.0
48    6049    David  Marketing  2022-12-03  25000.0                 2.0
49    6050    David  Marketing  2022-12-10  40000.0                 5.0

In [11]:
df['Performance_Rating'].value_counts()

Performance_Rating
3.0    11
5.0    11
4.0    10
1.0     6
2.0     3
Name: count, dtype: int64

In [12]:
df.fillna({'Performance_Rating':5}, inplace = True)

In [13]:
df['Performance_Rating'] = df['Performance_Rating'].astype(int)

In [14]:
df

    Emp_ID     Name Department   Join_Date   Salary  Performance_Rating
0     6001    Alice  Marketing  2022-01-01  40000.0                   3
1     6002      Bob    Finance  2022-01-08  25000.0                   5
2     6003  Charlie    Finance  2022-01-15  40000.0                   4
3     6004  Charlie  Marketing  2022-01-22  38095.0                   5
4     6005    Frank      Admin  2022-01-29  38095.0                   5
5     6006  Charlie         HR  2022-02-05  30000.0                   4
6     6007    Frank    Finance  2022-02-12  40000.0                   5
7     6008    David         HR  2022-02-19  40000.0                   5
8     6009    Frank      Admin  2022-02-26  50000.0                   2
9     6010      Bob      Admin  2022-03-05  30000.0                   3
10    6011  Charlie    Finance  2022-03-12  38095.0                   3
11    6012    Frank    Finance  2022-03-19  50000.0                   5
12    6013  Charlie      Admin  2022-03-26  50000.0                   4
13    6014    Frank  Marketing  2022-04-02  38095.0                   1
14    6015    Frank       Tech  2022-04-09  30000.0                   3
15    6016      Eva  Marketing  2022-04-16  25000.0                   5
16    6017      Bob       Tech  2022-04-23  40000.0                   3
17    6018      Bob         HR  2022-04-30  25000.0                   4
18    6019    Frank  Marketing  2022-05-07  50000.0                   4
19    6020    Alice       Tech  2022-05-14  40000.0                   5
20    6021      Bob      Admin  2022-05-21  50000.0                   3
21    6022    Alice         HR  2022-05-28  30000.0                   5
22    6023      Bob         HR  2022-06-04  50000.0                   3
23    6024  Charlie    Finance  2022-06-11  40000.0                   5
24    6025      Bob       Tech  2022-06-18  50000.0                   3
25    6026    Alice      Admin  2022-06-25  25000.0                   5
26    6027    David    Finance  2022-07-02  25000.0                   3
27    6028    Alice      Admin  2022-07-09  38095.0                   1
28    6029    Frank      Admin  2022-07-16  25000.0                   1
29    6030    Alice       Tech  2022-07-23  40000.0                   5
30    6031    Alice    Finance  2022-07-30  40000.0                   3
31    6032  Charlie      Admin  2022-08-06  25000.0                   5
32    6033    David  Marketing  2022-08-13  50000.0                   4
33    6034      Bob  Marketing  2022-08-20  40000.0                   1
34    6035    David    Finance  2022-08-27  50000.0                   5
35    6036    Frank    Finance  2022-09-03  38095.0                   4
36    6037    David    Finance  2022-09-10  30000.0                   5
37    6038  Charlie       Tech  2022-09-17  50000.0                   5
38    6039  Charlie       Tech  2022-09-24  40000.0                   5
39    6040    Frank    Finance  2022-10-01  38095.0                   2
40    6041      Bob    Finance  2022-10-08  30000.0                   1
41    6042    David    Finance  2022-10-15  40000.0                   4
42    6043    David       Tech  2022-10-22  50000.0                   5
43    6044  Charlie       Tech  2022-10-29  30000.0                   4
44    6045  Charlie         HR  2022-11-05  40000.0                   5
45    6046    David         HR  2022-11-12  30000.0                   3
46    6047    Frank      Admin  2022-11-19  38095.0                   4
47    6048  Charlie      Admin  2022-11-26  50000.0                   1
48    6049    David  Marketing  2022-12-03  25000.0                   2
49    6050    David  Marketing  2022-12-10  40000.0                   5

In [15]:
df.isnull().sum()

Emp_ID                0
Name                  0
Department            0
Join_Date             0
Salary                0
Performance_Rating    0
dtype: int64

In [16]:
df.to_csv('cleaned_employee_data.csv', index = False)

# INSIGHTS

## You are a data analyst in the HR department. The team needs insights into employee performance, salary structure, and departmental distribution.

In [3]:
df_new = pd.read_csv('cleaned_employee_data.csv')
df = df_new.copy()
df

    Emp_ID     Name Department   Join_Date   Salary  Performance_Rating
0     6001    Alice  Marketing  2022-01-01  40000.0                   3
1     6002      Bob    Finance  2022-01-08  25000.0                   5
2     6003  Charlie    Finance  2022-01-15  40000.0                   4
3     6004  Charlie  Marketing  2022-01-22  38095.0                   5
4     6005    Frank      Admin  2022-01-29  38095.0                   5
5     6006  Charlie         HR  2022-02-05  30000.0                   4
6     6007    Frank    Finance  2022-02-12  40000.0                   5
7     6008    David         HR  2022-02-19  40000.0                   5
8     6009    Frank      Admin  2022-02-26  50000.0                   2
9     6010      Bob      Admin  2022-03-05  30000.0                   3
10    6011  Charlie    Finance  2022-03-12  38095.0                   3
11    6012    Frank    Finance  2022-03-19  50000.0                   5
12    6013  Charlie      Admin  2022-03-26  50000.0                   4
13    6014    Frank  Marketing  2022-04-02  38095.0                   1
14    6015    Frank       Tech  2022-04-09  30000.0                   3
15    6016      Eva  Marketing  2022-04-16  25000.0                   5
16    6017      Bob       Tech  2022-04-23  40000.0                   3
17    6018      Bob         HR  2022-04-30  25000.0                   4
18    6019    Frank  Marketing  2022-05-07  50000.0                   4
19    6020    Alice       Tech  2022-05-14  40000.0                   5
20    6021      Bob      Admin  2022-05-21  50000.0                   3
21    6022    Alice         HR  2022-05-28  30000.0                   5
22    6023      Bob         HR  2022-06-04  50000.0                   3
23    6024  Charlie    Finance  2022-06-11  40000.0                   5
24    6025      Bob       Tech  2022-06-18  50000.0                   3
25    6026    Alice      Admin  2022-06-25  25000.0                   5
26    6027    David    Finance  2022-07-02  25000.0                   3
27    6028    Alice      Admin  2022-07-09  38095.0                   1
28    6029    Frank      Admin  2022-07-16  25000.0                   1
29    6030    Alice       Tech  2022-07-23  40000.0                   5
30    6031    Alice    Finance  2022-07-30  40000.0                   3
31    6032  Charlie      Admin  2022-08-06  25000.0                   5
32    6033    David  Marketing  2022-08-13  50000.0                   4
33    6034      Bob  Marketing  2022-08-20  40000.0                   1
34    6035    David    Finance  2022-08-27  50000.0                   5
35    6036    Frank    Finance  2022-09-03  38095.0                   4
36    6037    David    Finance  2022-09-10  30000.0                   5
37    6038  Charlie       Tech  2022-09-17  50000.0                   5
38    6039  Charlie       Tech  2022-09-24  40000.0                   5
39    6040    Frank    Finance  2022-10-01  38095.0                   2
40    6041      Bob    Finance  2022-10-08  30000.0                   1
41    6042    David    Finance  2022-10-15  40000.0                   4
42    6043    David       Tech  2022-10-22  50000.0                   5
43    6044  Charlie       Tech  2022-10-29  30000.0                   4
44    6045  Charlie         HR  2022-11-05  40000.0                   5
45    6046    David         HR  2022-11-12  30000.0                   3
46    6047    Frank      Admin  2022-11-19  38095.0                   4
47    6048  Charlie      Admin  2022-11-26  50000.0                   1
48    6049    David  Marketing  2022-12-03  25000.0                   2
49    6050    David  Marketing  2022-12-10  40000.0                   5

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Emp_ID              50 non-null     int64
 1   Name                50 non-null     object
 2   Department          50 non-null     object
 3   Join_Date           50 non-null     object
 4   Salary              50 non-null     float64
 5   Performance_Rating  50 non-null     int64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ KB

In [5]:
df.describe()

           Emp_ID        Salary  Performance_Rating
count    50.00000     50.000000           50.000000
mean   6025.50000  38095.200000            3.700000
std      14.57738   8627.931679            1.373956
min    6001.00000  25000.000000            1.000000
25%    6013.25000  30000.000000            3.000000
50%    6025.50000  40000.000000            4.000000
75%    6037.75000  40000.000000            5.000000
max    6050.00000  50000.000000            5.000000

### 1. Data Selection & Filtering:
    Extract employees from the Finance and Marketing departments with a performance rating of 4 or above.

In [36]:
df.query("Performance_Rating >= 4 and Department in ['Finance','Marketing']")

    Emp_ID     Name Department   Join_Date   Salary  Performance_Rating
1     6002      Bob    Finance  2022-01-08  25000.0                   5
2     6003  Charlie    Finance  2022-01-15  40000.0                   4
3     6004  Charlie  Marketing  2022-01-22  38095.0                   5
6     6007    Frank    Finance  2022-02-12  40000.0                   5
11    6012    Frank    Finance  2022-03-19  50000.0                   5
15    6016      Eva  Marketing  2022-04-16  25000.0                   5
18    6019    Frank  Marketing  2022-05-07  50000.0                   4
23    6024  Charlie    Finance  2022-06-11  40000.0                   5
32    6033    David  Marketing  2022-08-13  50000.0                   4
34    6035    David    Finance  2022-08-27  50000.0                   5
35    6036    Frank    Finance  2022-09-03  38095.0                   4
36    6037    David    Finance  2022-09-10  30000.0                   5
41    6042    David    Finance  2022-10-15  40000.0                   4
49    6050    David  Marketing  2022-12-10  40000.0                   5

### 2. Data Cleaning & Preprocessing:
1. Standardize inconsistent department naming (e.g., "finance" vs "Finance").
2. Convert Join_Date to datetime format.

In [40]:
df['Join_Date'] = pd.to_datetime(df['Join_Date'])

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Emp_ID              50 non-null     int64
 1   Name                50 non-null     object
 2   Department          50 non-null     object
 3   Join_Date           50 non-null     datetime64[ns]
 4   Salary              50 non-null     float64
 5   Performance_Rating  50 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 2.5+ KB

### 3. Data Transformation:
1. Calculate Years_of_Service from Join_Date to the current date.
2. Create a new column Performance_Category using rating (1-2: Low, 3: Average, 4-5: High).

In [42]:
df.head()

   Emp_ID     Name Department  Join_Date   Salary  Performance_Rating
0    6001    Alice  Marketing 2022-01-01  40000.0                   3
1    6002      Bob    Finance 2022-01-08  25000.0                   5
2    6003  Charlie    Finance 2022-01-15  40000.0                   4
3    6004  Charlie  Marketing 2022-01-22  38095.0                   5
4    6005    Frank      Admin 2022-01-29  38095.0                   5

In [69]:
# Calculate Years_of_Service from Join_Date to the current date.
current_date = pd.to_datetime("today")
df['Years_of_Experience'] = (current_date - df['Join_Date']).dt.days // 365

In [70]:
df.head(10)

,Emp_ID,Name,Department,Join_Date,Salary,Performance_Rating,Years_of_Experience
0,6001,Alice,Marketing,2022-01-01,40000.0,3,3
1,6002,Bob,Finance,2022-01-08,25000.0,5,3
2,6003,Charlie,Finance,2022-01-15,40000.0,4,3
3,6004,Charlie,Marketing,2022-01-22,38095.0,5,3
4,6005,Frank,Admin,2022-01-29,38095.0,5,3
5,6006,Charlie,HR,2022-02-05,30000.0,4,3
6,6007,Frank,Finance,2022-02-12,40000.0,5,3
7,6008,David,HR,2022-02-19,40000.0,5,3
8,6009,Frank,Admin,2022-02-26,50000.0,2,3
9,6010,Bob,Admin,2022-03-05,30000.0,3,3

In [72]:
# Create a new column Performance_Category using rating (1-2: Low, 3: Average, 4-5: High).
df['Performance_Category'] = np.where(
    df['Performance_Rating'] <= 2, 'Low',
    np.where(df['Performance_Rating'] == 3, 'Average','High')
)

In [76]:
df

,Emp_ID,Name,Department,Join_Date,Salary,Performance_Rating,Years_of_Experience,Performance_Category
0,6001,Alice,Marketing,2022-01-01,40000.0,3,3,Average
1,6002,Bob,Finance,2022-01-08,25000.0,5,3,High
2,6003,Charlie,Finance,2022-01-15,40000.0,4,3,High
3,6004,Charlie,Marketing,2022-01-22,38095.0,5,3,High
4,6005,Frank,Admin,2022-01-29,38095.0,5,3,High
5,6006,Charlie,HR,2022-02-05,30000.0,4,3,High
6,6007,Frank,Finance,2022-02-12,40000.0,5,3,High
7,6008,David,HR,2022-02-19,40000.0,5,3,High
8,6009,Frank,Admin,2022-02-26,50000.0,2,3,Low
9,6010,Bob,Admin,2022-03-05,30000.0,3,3,Average
10,6011,Charlie,Finance,2022-03-12,38095.0,3,3,Average
11,6012,Frank,Finance,2022-03-19,50000.0,5,3,High
12,6013,Charlie,Admin,2022-03-26,50000.0,4,3,High
13,6014,Frank,Marketing,2022-04-02,38095.0,1,3,Low
14,6015,Frank,Tech,2022-04-09,30000.0,3,3,Average
15,6016,Eva,Marketing,2022-04-16,25000.0,5,3,High
16,6017,Bob,Tech,2022-04-23,40000.0,3,3,Average
17,6018,Bob,HR,2022-04-30,25000.0,4,3,High
18,6019,Frank,Marketing,2022-05-07,50000.0,4,3,High
19,6020,Alice,Tech,2022-05-14,40000.0,5,3,High
20,6021,Bob,Admin,2022-05-21,50000.0,3,3,Average
21,6022,Alice,HR,2022-05-28,30000.0,5,3,High
22,6023,Bob,HR,2022-06-04,50000.0,3,3,Average
23,6024,Charlie,Finance,2022-06-11,40000.0,5,3,High
24,6025,Bob,Tech,2022-06-18,50000.0,3,3,Average
25,6026,Alice,Admin,2022-06-25,25000.0,5,2,High
26,6027,David,Finance,2022-07-02,25000.0,3,2,Average
27,6028,Alice,Admin,2022-07-09,38095.0,1,2,Low
28,6029,Frank,Admin,2022-07-16,25000.0,1,2,Low
29,6030,Alice,Tech,2022-07-23,40000.0,5,2,High
30,6031,Alice,Finance,2022-07-30,40000.0,3,2,Average
31,6032,Charlie,Admin,2022-08-06,25000.0,5,2,High
32,6033,David,Marketing,2022-08-13,50000.0,4,2,High
33,6034,Bob,Marketing,2022-08-20,40000.0,1,2,Low
34,6035,David,Finance,2022-08-27,50000.0,5,2,High
35,6036,Frank,Finance,2022-09-03,38095.0,4,2,High
36,6037,David,Finance,2022-09-10,30000.0,5,2,High
37,6038,Charlie,Tech,2022-09-17,50000.0,5,2,High
38,6039,Charlie,Tech,2022-09-24,40000.0,5,2,High
39,6040,Frank,Finance,2022-10-01,38095.0,2,2,Low
40,6041,Bob,Finance,2022-10-08,30000.0,1,2,Low
41,6042,David,Finance,2022-10-15,40000.0,4,2,High
42,6043,David,Tech,2022-10-22,50000.0,5,2,High
43,6044,Charlie,Tech,2022-10-29,30000.0,4,2,High
44,6045,Charlie,HR,2022-11-05,40000.0,5,2,High
45,6046,David,HR,2022-11-12,30000.0,3,2,Average
46,6047,Frank,Admin,2022-11-19,38095.0,4,2,High
47,6048,Charlie,Admin,2022-11-26,50000.0,1,2,Low
48,6049,David,Marketing,2022-12-03,25000.0,2,2,Low
49,6050,David,Marketing,2022-12-10,40000.0,5,2,High

### 4. Melt & Pivot:
    1. Melt the dataset to compare salaries and performance ratings in a long format.
    2. Pivot to show average salary by Department and Performance_Category.

In [75]:
# Melt the dataset to compare salaries and performance ratings in a long format.
melted_df = df.melt(id_vars=["Emp_ID"], value_vars=["Department", "Performance_Rating"], var_name="Categories", value_name="Values")

In [77]:
melted_df

    Emp_ID          Categories     Values
0     6001          Department  Marketing
1     6002          Department    Finance
2     6003          Department    Finance
3     6004          Department  Marketing
4     6005          Department      Admin
..     ...                 ...        ...
95    6046  Performance_Rating          3
96    6047  Performance_Rating          4
97    6048  Performance_Rating          1
98    6049  Performance_Rating          2
99    6050  Performance_Rating          5

[100 rows x 3 columns]

In [79]:
melted_df.sort_values(by='Emp_ID').reset_index(drop=True)

    Emp_ID          Categories     Values
0     6001          Department  Marketing
1     6001  Performance_Rating          3
2     6002  Performance_Rating          5
3     6002          Department    Finance
4     6003          Department    Finance
..     ...                 ...        ...
95    6048  Performance_Rating          1
96    6049  Performance_Rating          2
97    6049          Department  Marketing
98    6050          Department  Marketing
99    6050  Performance_Rating          5

[100 rows x 3 columns]

In [86]:
# Pivot to show average salary by Department and Performance_Category.
df.pivot_table(index="Department", columns="Performance_Category", values="Salary", aggfunc="mean")

Performance_Category  Average          High       Low
Department
Admin                 40000.0  35238.000000  40773.75
Finance               34365.0  39232.777778  34047.50
HR                    40000.0  33000.000000       NaN
Marketing             40000.0  40619.000000  34365.00
Tech                  40000.0  41666.666667       NaN

In [85]:
df.pivot_table(index="Department", columns="Performance_Rating", values="Salary", aggfunc="mean")

Performance_Rating             1        2        3        4             5
Department
Admin               37698.333333  50000.0  40000.0  44047.5  29365.000000
Finance             30000.000000  38095.0  34365.0  39365.0  39166.666667
HR                           NaN      NaN  40000.0  27500.0  36666.666667
Marketing           39047.500000  25000.0  40000.0  50000.0  34365.000000
Tech                         NaN      NaN  40000.0  30000.0  44000.000000

### 5. Aggregation & Grouping:
    1. Find average, max, and min salary per department.
    2. Count of employees per Performance_Category.

In [104]:
# Find average, max, and min salary per department.
df.groupby("Department")["Salary"].mean().round()

Department
Admin        38117.0
Finance      37449.0
HR           35000.0
Marketing    38466.0
Tech         41111.0
Name: Salary, dtype: float64

In [97]:
# Find average, max, and min salary per department.
df.groupby("Department")["Salary"].max()

Department
Admin        50000.0
Finance      50000.0
HR           50000.0
Marketing    50000.0
Tech         50000.0
Name: Salary, dtype: float64

In [98]:
# Find average, max, and min salary per department.
df.groupby("Department")["Salary"].min()

Department
Admin        25000.0
Finance      25000.0
HR           25000.0
Marketing    25000.0
Tech         30000.0
Name: Salary, dtype: float64

In [99]:
# Count of employees per Performance_Category
df.groupby("Performance_Category")['Emp_ID'].count()

Performance_Category
Average    11
High       30
Low         9
Name: Emp_ID, dtype: int64

### 6. Merging & Joining:
Create a mock DataFrame for department headcounts and merge it with your aggregated salary data.

In [110]:
department_headcounts = df['Department'].value_counts()

In [111]:
avg_dept_salary = df.groupby("Department")["Salary"].mean().round()

In [113]:
pd.merge(department_headcounts,avg_dept_salary, on="Department")

            count   Salary
Department
Finance        14  37449.0
Admin          11  38117.0
Marketing       9  38466.0
Tech            9  41111.0
HR              7  35000.0