# HR Employee Records
### Problem Statement:
    Process employee data for inconsistencies, fill missing ratings, compute average salaries by department, and identify low-performing departments.
    Key Functions: .pivot_table(), .nunique(), .clip(), .qcut(), np.percentile(), .dt.year, .value_counts()

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('hr_employees.csv')
df = df.copy()
df

    Emp_ID     Name Department   Join_Date   Salary  Performance_Rating
0     6001    Alice  Marketing  2022-01-01  40000.0                 3.0
1     6002      Bob    Finance  2022-01-08  25000.0                 NaN
2     6003  Charlie        NaN  2022-01-15  40000.0                 4.0
3     6004  Charlie  Marketing  2022-01-22      NaN                 NaN
4     6005    Frank      Admin  2022-01-29      NaN                 5.0
5     6006  Charlie         HR  2022-02-05  30000.0                 4.0
6     6007    Frank    Finance  2022-02-12  40000.0                 5.0
7     6008    David         HR  2022-02-19  40000.0                 NaN
8     6009    Frank      Admin  2022-02-26  50000.0                 2.0
9     6010      Bob      Admin  2022-03-05  30000.0                 3.0
10    6011  Charlie    Finance  2022-03-12      NaN                 3.0
11    6012    Frank        NaN  2022-03-19  50000.0                 5.0
12    6013  Charlie      Admin  2022-03-26  50000.0                 4.0
13    6014    Frank  Marketing  2022-04-02      NaN                 1.0
14    6015    Frank       Tech  2022-04-09  30000.0                 3.0
15    6016      Eva  Marketing  2022-04-16  25000.0                 NaN
16    6017      Bob       Tech  2022-04-23  40000.0                 3.0
17    6018      Bob         HR  2022-04-30  25000.0                 4.0
18    6019    Frank  Marketing  2022-05-07  50000.0                 4.0
19    6020    Alice       Tech  2022-05-14  40000.0                 5.0
20    6021      Bob      Admin  2022-05-21  50000.0                 3.0
21    6022    Alice         HR  2022-05-28  30000.0                 NaN
22    6023      Bob        NaN  2022-06-04  50000.0                 3.0
23    6024  Charlie    Finance  2022-06-11  40000.0                 5.0
24    6025      Bob       Tech  2022-06-18  50000.0                 3.0
25    6026    Alice      Admin  2022-06-25  25000.0                 5.0
26    6027    David    Finance  2022-07-02  25000.0                 3.0
27    6028    Alice      Admin  2022-07-09      NaN                 1.0
28    6029    Frank        NaN  2022-07-16  25000.0                 1.0
29    6030    Alice       Tech  2022-07-23  40000.0                 NaN
30    6031    Alice    Finance  2022-07-30  40000.0                 3.0
31    6032  Charlie      Admin  2022-08-06  25000.0                 5.0
32    6033    David  Marketing  2022-08-13  50000.0                 4.0
33    6034      Bob  Marketing  2022-08-20  40000.0                 1.0
34    6035    David    Finance  2022-08-27  50000.0                 5.0
35    6036    Frank        NaN  2022-09-03      NaN                 4.0
36    6037    David        NaN  2022-09-10  30000.0                 5.0
37    6038  Charlie       Tech  2022-09-17  50000.0                 5.0
38    6039  Charlie        NaN  2022-09-24  40000.0                 NaN
39    6040    Frank    Finance  2022-10-01      NaN                 2.0
40    6041      Bob    Finance  2022-10-08  30000.0                 1.0
41    6042    David    Finance  2022-10-15  40000.0                 4.0
42    6043    David       Tech  2022-10-22  50000.0                 NaN
43    6044  Charlie        NaN  2022-10-29  30000.0                 4.0
44    6045  Charlie         HR  2022-11-05  40000.0                 NaN
45    6046    David        NaN  2022-11-12  30000.0                 3.0
46    6047    Frank      Admin  2022-11-19      NaN                 4.0
47    6048  Charlie      Admin  2022-11-26  50000.0                 1.0
48    6049    David  Marketing  2022-12-03  25000.0                 2.0
49    6050    David  Marketing  2022-12-10  40000.0                 5.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Emp_ID              50 non-null     int64
 1   Name                50 non-null     object
 2   Department          41 non-null     object
 3   Join_Date           50 non-null     object
 4   Salary              42 non-null     float64
 5   Performance_Rating  41 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.5+ KB

In [5]:
df.isnull().sum()

Emp_ID                0
Name                  0
Department            9
Join_Date             0
Salary                8
Performance_Rating    9
dtype: int64

In [6]:
df['Department'] = df['Department'].ffill()

In [7]:
df

    Emp_ID     Name Department   Join_Date   Salary  Performance_Rating
0     6001    Alice  Marketing  2022-01-01  40000.0                 3.0
1     6002      Bob    Finance  2022-01-08  25000.0                 NaN
2     6003  Charlie    Finance  2022-01-15  40000.0                 4.0
3     6004  Charlie  Marketing  2022-01-22      NaN                 NaN
4     6005    Frank      Admin  2022-01-29      NaN                 5.0
5     6006  Charlie         HR  2022-02-05  30000.0                 4.0
6     6007    Frank    Finance  2022-02-12  40000.0                 5.0
7     6008    David         HR  2022-02-19  40000.0                 NaN
8     6009    Frank      Admin  2022-02-26  50000.0                 2.0
9     6010      Bob      Admin  2022-03-05  30000.0                 3.0
10    6011  Charlie    Finance  2022-03-12      NaN                 3.0
11    6012    Frank    Finance  2022-03-19  50000.0                 5.0
12    6013  Charlie      Admin  2022-03-26  50000.0                 4.0
13    6014    Frank  Marketing  2022-04-02      NaN                 1.0
14    6015    Frank       Tech  2022-04-09  30000.0                 3.0
15    6016      Eva  Marketing  2022-04-16  25000.0                 NaN
16    6017      Bob       Tech  2022-04-23  40000.0                 3.0
17    6018      Bob         HR  2022-04-30  25000.0                 4.0
18    6019    Frank  Marketing  2022-05-07  50000.0                 4.0
19    6020    Alice       Tech  2022-05-14  40000.0                 5.0
20    6021      Bob      Admin  2022-05-21  50000.0                 3.0
21    6022    Alice         HR  2022-05-28  30000.0                 NaN
22    6023      Bob         HR  2022-06-04  50000.0                 3.0
23    6024  Charlie    Finance  2022-06-11  40000.0                 5.0
24    6025      Bob       Tech  2022-06-18  50000.0                 3.0
25    6026    Alice      Admin  2022-06-25  25000.0                 5.0
26    6027    David    Finance  2022-07-02  25000.0                 3.0
27    6028    Alice      Admin  2022-07-09      NaN                 1.0
28    6029    Frank      Admin  2022-07-16  25000.0                 1.0
29    6030    Alice       Tech  2022-07-23  40000.0                 NaN
30    6031    Alice    Finance  2022-07-30  40000.0                 3.0
31    6032  Charlie      Admin  2022-08-06  25000.0                 5.0
32    6033    David  Marketing  2022-08-13  50000.0                 4.0
33    6034      Bob  Marketing  2022-08-20  40000.0                 1.0
34    6035    David    Finance  2022-08-27  50000.0                 5.0
35    6036    Frank    Finance  2022-09-03      NaN                 4.0
36    6037    David    Finance  2022-09-10  30000.0                 5.0
37    6038  Charlie       Tech  2022-09-17  50000.0                 5.0
38    6039  Charlie       Tech  2022-09-24  40000.0                 NaN
39    6040    Frank    Finance  2022-10-01      NaN                 2.0
40    6041      Bob    Finance  2022-10-08  30000.0                 1.0
41    6042    David    Finance  2022-10-15  40000.0                 4.0
42    6043    David       Tech  2022-10-22  50000.0                 NaN
43    6044  Charlie       Tech  2022-10-29  30000.0                 4.0
44    6045  Charlie         HR  2022-11-05  40000.0                 NaN
45    6046    David         HR  2022-11-12  30000.0                 3.0
46    6047    Frank      Admin  2022-11-19      NaN                 4.0
47    6048  Charlie      Admin  2022-11-26  50000.0                 1.0
48    6049    David  Marketing  2022-12-03  25000.0                 2.0
49    6050    David  Marketing  2022-12-10  40000.0                 5.0

In [8]:
df.isnull().sum()

Emp_ID                0
Name                  0
Department            0
Join_Date             0
Salary                8
Performance_Rating    9
dtype: int64

In [9]:
df.fillna({'Salary':df['Salary'].mean().round()}, inplace=True)

In [10]:
df

    Emp_ID     Name Department   Join_Date   Salary  Performance_Rating
0     6001    Alice  Marketing  2022-01-01  40000.0                 3.0
1     6002      Bob    Finance  2022-01-08  25000.0                 NaN
2     6003  Charlie    Finance  2022-01-15  40000.0                 4.0
3     6004  Charlie  Marketing  2022-01-22  38095.0                 NaN
4     6005    Frank      Admin  2022-01-29  38095.0                 5.0
5     6006  Charlie         HR  2022-02-05  30000.0                 4.0
6     6007    Frank    Finance  2022-02-12  40000.0                 5.0
7     6008    David         HR  2022-02-19  40000.0                 NaN
8     6009    Frank      Admin  2022-02-26  50000.0                 2.0
9     6010      Bob      Admin  2022-03-05  30000.0                 3.0
10    6011  Charlie    Finance  2022-03-12  38095.0                 3.0
11    6012    Frank    Finance  2022-03-19  50000.0                 5.0
12    6013  Charlie      Admin  2022-03-26  50000.0                 4.0
13    6014    Frank  Marketing  2022-04-02  38095.0                 1.0
14    6015    Frank       Tech  2022-04-09  30000.0                 3.0
15    6016      Eva  Marketing  2022-04-16  25000.0                 NaN
16    6017      Bob       Tech  2022-04-23  40000.0                 3.0
17    6018      Bob         HR  2022-04-30  25000.0                 4.0
18    6019    Frank  Marketing  2022-05-07  50000.0                 4.0
19    6020    Alice       Tech  2022-05-14  40000.0                 5.0
20    6021      Bob      Admin  2022-05-21  50000.0                 3.0
21    6022    Alice         HR  2022-05-28  30000.0                 NaN
22    6023      Bob         HR  2022-06-04  50000.0                 3.0
23    6024  Charlie    Finance  2022-06-11  40000.0                 5.0
24    6025      Bob       Tech  2022-06-18  50000.0                 3.0
25    6026    Alice      Admin  2022-06-25  25000.0                 5.0
26    6027    David    Finance  2022-07-02  25000.0                 3.0
27    6028    Alice      Admin  2022-07-09  38095.0                 1.0
28    6029    Frank      Admin  2022-07-16  25000.0                 1.0
29    6030    Alice       Tech  2022-07-23  40000.0                 NaN
30    6031    Alice    Finance  2022-07-30  40000.0                 3.0
31    6032  Charlie      Admin  2022-08-06  25000.0                 5.0
32    6033    David  Marketing  2022-08-13  50000.0                 4.0
33    6034      Bob  Marketing  2022-08-20  40000.0                 1.0
34    6035    David    Finance  2022-08-27  50000.0                 5.0
35    6036    Frank    Finance  2022-09-03  38095.0                 4.0
36    6037    David    Finance  2022-09-10  30000.0                 5.0
37    6038  Charlie       Tech  2022-09-17  50000.0                 5.0
38    6039  Charlie       Tech  2022-09-24  40000.0                 NaN
39    6040    Frank    Finance  2022-10-01  38095.0                 2.0
40    6041      Bob    Finance  2022-10-08  30000.0                 1.0
41    6042    David    Finance  2022-10-15  40000.0                 4.0
42    6043    David       Tech  2022-10-22  50000.0                 NaN
43    6044  Charlie       Tech  2022-10-29  30000.0                 4.0
44    6045  Charlie         HR  2022-11-05  40000.0                 NaN
45    6046    David         HR  2022-11-12  30000.0                 3.0
46    6047    Frank      Admin  2022-11-19  38095.0                 4.0
47    6048  Charlie      Admin  2022-11-26  50000.0                 1.0
48    6049    David  Marketing  2022-12-03  25000.0                 2.0
49    6050    David  Marketing  2022-12-10  40000.0                 5.0

In [11]:
df['Performance_Rating'].value_counts()

Performance_Rating
3.0    11
5.0    11
4.0    10
1.0     6
2.0     3
Name: count, dtype: int64

In [12]:
df.fillna({'Performance_Rating':5}, inplace = True)

In [13]:
df['Performance_Rating'] = df['Performance_Rating'].astype(int)

In [14]:
df

    Emp_ID     Name Department   Join_Date   Salary  Performance_Rating
0     6001    Alice  Marketing  2022-01-01  40000.0                   3
1     6002      Bob    Finance  2022-01-08  25000.0                   5
2     6003  Charlie    Finance  2022-01-15  40000.0                   4
3     6004  Charlie  Marketing  2022-01-22  38095.0                   5
4     6005    Frank      Admin  2022-01-29  38095.0                   5
5     6006  Charlie         HR  2022-02-05  30000.0                   4
6     6007    Frank    Finance  2022-02-12  40000.0                   5
7     6008    David         HR  2022-02-19  40000.0                   5
8     6009    Frank      Admin  2022-02-26  50000.0                   2
9     6010      Bob      Admin  2022-03-05  30000.0                   3
10    6011  Charlie    Finance  2022-03-12  38095.0                   3
11    6012    Frank    Finance  2022-03-19  50000.0                   5
12    6013  Charlie      Admin  2022-03-26  50000.0                   4
13    6014    Frank  Marketing  2022-04-02  38095.0                   1
14    6015    Frank       Tech  2022-04-09  30000.0                   3
15    6016      Eva  Marketing  2022-04-16  25000.0                   5
16    6017      Bob       Tech  2022-04-23  40000.0                   3
17    6018      Bob         HR  2022-04-30  25000.0                   4
18    6019    Frank  Marketing  2022-05-07  50000.0                   4
19    6020    Alice       Tech  2022-05-14  40000.0                   5
20    6021      Bob      Admin  2022-05-21  50000.0                   3
21    6022    Alice         HR  2022-05-28  30000.0                   5
22    6023      Bob         HR  2022-06-04  50000.0                   3
23    6024  Charlie    Finance  2022-06-11  40000.0                   5
24    6025      Bob       Tech  2022-06-18  50000.0                   3
25    6026    Alice      Admin  2022-06-25  25000.0                   5
26    6027    David    Finance  2022-07-02  25000.0                   3
27    6028    Alice      Admin  2022-07-09  38095.0                   1
28    6029    Frank      Admin  2022-07-16  25000.0                   1
29    6030    Alice       Tech  2022-07-23  40000.0                   5
30    6031    Alice    Finance  2022-07-30  40000.0                   3
31    6032  Charlie      Admin  2022-08-06  25000.0                   5
32    6033    David  Marketing  2022-08-13  50000.0                   4
33    6034      Bob  Marketing  2022-08-20  40000.0                   1
34    6035    David    Finance  2022-08-27  50000.0                   5
35    6036    Frank    Finance  2022-09-03  38095.0                   4
36    6037    David    Finance  2022-09-10  30000.0                   5
37    6038  Charlie       Tech  2022-09-17  50000.0                   5
38    6039  Charlie       Tech  2022-09-24  40000.0                   5
39    6040    Frank    Finance  2022-10-01  38095.0                   2
40    6041      Bob    Finance  2022-10-08  30000.0                   1
41    6042    David    Finance  2022-10-15  40000.0                   4
42    6043    David       Tech  2022-10-22  50000.0                   5
43    6044  Charlie       Tech  2022-10-29  30000.0                   4
44    6045  Charlie         HR  2022-11-05  40000.0                   5
45    6046    David         HR  2022-11-12  30000.0                   3
46    6047    Frank      Admin  2022-11-19  38095.0                   4
47    6048  Charlie      Admin  2022-11-26  50000.0                   1
48    6049    David  Marketing  2022-12-03  25000.0                   2
49    6050    David  Marketing  2022-12-10  40000.0                   5

In [15]:
df.isnull().sum()

Emp_ID                0
Name                  0
Department            0
Join_Date             0
Salary                0
Performance_Rating    0
dtype: int64

In [16]:
df.to_csv('cleaned_employee_data.csv', index = False)