# Retail Store Inventory
### Problem Statement:
    -Clean inventory data, impute missing unit prices and stock quantities, and generate KPIs like out-of-stock products and category-wise average prices.
    -Key Pandas/NumPy Usage: .interpolate(), .corr(), .merge(), .fillna(method='bfill'), .round(), np.round()

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('retail_inventory.csv')
df = df.copy()
df

,Item_ID,Item_Name,Category,Stock_Quantity,Unit_Price,Last_Stocked_Date
0,101,Table,Apparel,10.0,500.0,2023-11-01
1,102,Sofa,Electronics,10.0,NaN,2023-11-04
2,103,Table,Electronics,NaN,1500.0,2023-11-07
3,104,Shirt,Furniture,30.0,2000.0,2023-11-10
4,105,Sofa,Apparel,NaN,1500.0,2023-11-13
5,106,Shirt,Furniture,NaN,500.0,2023-11-16
6,107,Jeans,NaN,40.0,NaN,2023-11-19
7,108,TV,Cosmetics,40.0,1500.0,2023-11-22
8,109,Shirt,Furniture,20.0,2000.0,2023-11-25
9,110,TV,NaN,NaN,1000.0,2023-11-28
10,111,Shirt,Apparel,20.0,500.0,2023-12-01
11,112,Table,Apparel,20.0,500.0,2023-12-04
12,113,Perfume,Apparel,NaN,1500.0,2023-12-07
13,114,Shirt,Electronics,20.0,1500.0,2023-12-10
14,115,Shirt,Apparel,30.0,1500.0,2023-12-13
15,116,TV,NaN,40.0,500.0,2023-12-16
16,117,Shirt,Furniture,10.0,2000.0,2023-12-19
17,118,Shirt,NaN,30.0,1000.0,2023-12-22
18,119,Jeans,Apparel,10.0,1000.0,2023-12-25
19,120,Shirt,Electronics,NaN,1000.0,2023-12-28
20,121,TV,Cosmetics,10.0,2000.0,2023-12-31
21,122,Jeans,Electronics,40.0,1500.0,2024-01-03
22,123,Table,Furniture,10.0,1000.0,2024-01-06
23,124,Table,Cosmetics,30.0,1000.0,2024-01-09
24,125,Perfume,Furniture,0.0,1500.0,2024-01-12
25,126,TV,Furniture,40.0,1500.0,2024-01-15
26,127,Shirt,Electronics,0.0,NaN,2024-01-18
27,128,Jeans,Apparel,40.0,2000.0,2024-01-21
28,129,TV,NaN,10.0,1000.0,2024-01-24
29,130,Shirt,NaN,20.0,NaN,2024-01-27
30,131,Table,Electronics,0.0,2000.0,2024-01-30
31,132,Sofa,Electronics,20.0,2000.0,2024-02-02
32,133,Jeans,NaN,40.0,500.0,2024-02-05
33,134,Jeans,Apparel,40.0,1500.0,2024-02-08
34,135,Shirt,Apparel,10.0,1000.0,2024-02-11
35,136,Shirt,Cosmetics,0.0,NaN,2024-02-14
36,137,Jeans,NaN,10.0,1000.0,2024-02-17
37,138,Jeans,NaN,40.0,NaN,2024-02-20
38,139,Table,Cosmetics,10.0,1000.0,2024-02-23
39,140,Table,Furniture,30.0,2000.0,2024-02-26
40,141,TV,Apparel,0.0,2000.0,2024-02-29
41,142,Table,Cosmetics,20.0,1500.0,2024-03-03
42,143,Perfume,Furniture,NaN,500.0,2024-03-06
43,144,TV,Electronics,10.0,NaN,2024-03-09
44,145,Sofa,Cosmetics,10.0,500.0,2024-03-12
45,146,TV,Cosmetics,10.0,NaN,2024-03-15
46,147,Table,Furniture,20.0,1000.0,2024-03-18
47,148,Shirt,Apparel,40.0,2000.0,2024-03-21
48,149,Sofa,NaN,0.0,500.0,2024-03-24
49,150,Sofa,Apparel,20.0,1500.0,2024-03-27

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Item_ID            50 non-null     int64
 1   Item_Name          50 non-null     object
 2   Category           40 non-null     object
 3   Stock_Quantity     43 non-null     float64
 4   Unit_Price         42 non-null     float64
 5   Last_Stocked_Date  50 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 2.5+ KB

In [18]:
df.isnull().sum()

Item_ID               0
Item_Name             0
Category             10
Stock_Quantity        7
Unit_Price            8
Last_Stocked_Date     0
dtype: int64

In [19]:
df['Category'] = df['Category'].ffill()

In [20]:
df

,Item_ID,Item_Name,Category,Stock_Quantity,Unit_Price,Last_Stocked_Date
0,101,Table,Apparel,10.0,500.0,2023-11-01
1,102,Sofa,Electronics,10.0,NaN,2023-11-04
2,103,Table,Electronics,NaN,1500.0,2023-11-07
3,104,Shirt,Furniture,30.0,2000.0,2023-11-10
4,105,Sofa,Apparel,NaN,1500.0,2023-11-13
5,106,Shirt,Furniture,NaN,500.0,2023-11-16
6,107,Jeans,Furniture,40.0,NaN,2023-11-19
7,108,TV,Cosmetics,40.0,1500.0,2023-11-22
8,109,Shirt,Furniture,20.0,2000.0,2023-11-25
9,110,TV,Furniture,NaN,1000.0,2023-11-28
10,111,Shirt,Apparel,20.0,500.0,2023-12-01
11,112,Table,Apparel,20.0,500.0,2023-12-04
12,113,Perfume,Apparel,NaN,1500.0,2023-12-07
13,114,Shirt,Electronics,20.0,1500.0,2023-12-10
14,115,Shirt,Apparel,30.0,1500.0,2023-12-13
15,116,TV,Apparel,40.0,500.0,2023-12-16
16,117,Shirt,Furniture,10.0,2000.0,2023-12-19
17,118,Shirt,Furniture,30.0,1000.0,2023-12-22
18,119,Jeans,Apparel,10.0,1000.0,2023-12-25
19,120,Shirt,Electronics,NaN,1000.0,2023-12-28
20,121,TV,Cosmetics,10.0,2000.0,2023-12-31
21,122,Jeans,Electronics,40.0,1500.0,2024-01-03
22,123,Table,Furniture,10.0,1000.0,2024-01-06
23,124,Table,Cosmetics,30.0,1000.0,2024-01-09
24,125,Perfume,Furniture,0.0,1500.0,2024-01-12
25,126,TV,Furniture,40.0,1500.0,2024-01-15
26,127,Shirt,Electronics,0.0,NaN,2024-01-18
27,128,Jeans,Apparel,40.0,2000.0,2024-01-21
28,129,TV,Apparel,10.0,1000.0,2024-01-24
29,130,Shirt,Apparel,20.0,NaN,2024-01-27
30,131,Table,Electronics,0.0,2000.0,2024-01-30
31,132,Sofa,Electronics,20.0,2000.0,2024-02-02
32,133,Jeans,Electronics,40.0,500.0,2024-02-05
33,134,Jeans,Apparel,40.0,1500.0,2024-02-08
34,135,Shirt,Apparel,10.0,1000.0,2024-02-11
35,136,Shirt,Cosmetics,0.0,NaN,2024-02-14
36,137,Jeans,Cosmetics,10.0,1000.0,2024-02-17
37,138,Jeans,Cosmetics,40.0,NaN,2024-02-20
38,139,Table,Cosmetics,10.0,1000.0,2024-02-23
39,140,Table,Furniture,30.0,2000.0,2024-02-26
40,141,TV,Apparel,0.0,2000.0,2024-02-29
41,142,Table,Cosmetics,20.0,1500.0,2024-03-03
42,143,Perfume,Furniture,NaN,500.0,2024-03-06
43,144,TV,Electronics,10.0,NaN,2024-03-09
44,145,Sofa,Cosmetics,10.0,500.0,2024-03-12
45,146,TV,Cosmetics,10.0,NaN,2024-03-15
46,147,Table,Furniture,20.0,1000.0,2024-03-18
47,148,Shirt,Apparel,40.0,2000.0,2024-03-21
48,149,Sofa,Apparel,0.0,500.0,2024-03-24
49,150,Sofa,Apparel,20.0,1500.0,2024-03-27

In [21]:
df.isnull().sum()

Item_ID              0
Item_Name            0
Category             0
Stock_Quantity       7
Unit_Price           8
Last_Stocked_Date    0
dtype: int64

In [22]:
df.fillna({'Stock_Quantity':0}, inplace=True)

In [23]:
df

,Item_ID,Item_Name,Category,Stock_Quantity,Unit_Price,Last_Stocked_Date
0,101,Table,Apparel,10.0,500.0,2023-11-01
1,102,Sofa,Electronics,10.0,NaN,2023-11-04
2,103,Table,Electronics,0.0,1500.0,2023-11-07
3,104,Shirt,Furniture,30.0,2000.0,2023-11-10
4,105,Sofa,Apparel,0.0,1500.0,2023-11-13
5,106,Shirt,Furniture,0.0,500.0,2023-11-16
6,107,Jeans,Furniture,40.0,NaN,2023-11-19
7,108,TV,Cosmetics,40.0,1500.0,2023-11-22
8,109,Shirt,Furniture,20.0,2000.0,2023-11-25
9,110,TV,Furniture,0.0,1000.0,2023-11-28
10,111,Shirt,Apparel,20.0,500.0,2023-12-01
11,112,Table,Apparel,20.0,500.0,2023-12-04
12,113,Perfume,Apparel,0.0,1500.0,2023-12-07
13,114,Shirt,Electronics,20.0,1500.0,2023-12-10
14,115,Shirt,Apparel,30.0,1500.0,2023-12-13
15,116,TV,Apparel,40.0,500.0,2023-12-16
16,117,Shirt,Furniture,10.0,2000.0,2023-12-19
17,118,Shirt,Furniture,30.0,1000.0,2023-12-22
18,119,Jeans,Apparel,10.0,1000.0,2023-12-25
19,120,Shirt,Electronics,0.0,1000.0,2023-12-28
20,121,TV,Cosmetics,10.0,2000.0,2023-12-31
21,122,Jeans,Electronics,40.0,1500.0,2024-01-03
22,123,Table,Furniture,10.0,1000.0,2024-01-06
23,124,Table,Cosmetics,30.0,1000.0,2024-01-09
24,125,Perfume,Furniture,0.0,1500.0,2024-01-12
25,126,TV,Furniture,40.0,1500.0,2024-01-15
26,127,Shirt,Electronics,0.0,NaN,2024-01-18
27,128,Jeans,Apparel,40.0,2000.0,2024-01-21
28,129,TV,Apparel,10.0,1000.0,2024-01-24
29,130,Shirt,Apparel,20.0,NaN,2024-01-27
30,131,Table,Electronics,0.0,2000.0,2024-01-30
31,132,Sofa,Electronics,20.0,2000.0,2024-02-02
32,133,Jeans,Electronics,40.0,500.0,2024-02-05
33,134,Jeans,Apparel,40.0,1500.0,2024-02-08
34,135,Shirt,Apparel,10.0,1000.0,2024-02-11
35,136,Shirt,Cosmetics,0.0,NaN,2024-02-14
36,137,Jeans,Cosmetics,10.0,1000.0,2024-02-17
37,138,Jeans,Cosmetics,40.0,NaN,2024-02-20
38,139,Table,Cosmetics,10.0,1000.0,2024-02-23
39,140,Table,Furniture,30.0,2000.0,2024-02-26
40,141,TV,Apparel,0.0,2000.0,2024-02-29
41,142,Table,Cosmetics,20.0,1500.0,2024-03-03
42,143,Perfume,Furniture,0.0,500.0,2024-03-06
43,144,TV,Electronics,10.0,NaN,2024-03-09
44,145,Sofa,Cosmetics,10.0,500.0,2024-03-12
45,146,TV,Cosmetics,10.0,NaN,2024-03-15
46,147,Table,Furniture,20.0,1000.0,2024-03-18
47,148,Shirt,Apparel,40.0,2000.0,2024-03-21
48,149,Sofa,Apparel,0.0,500.0,2024-03-24
49,150,Sofa,Apparel,20.0,1500.0,2024-03-27

In [24]:
df["Stock_Quantity"] = df["Stock_Quantity"].astype(int)

In [25]:
df

,Item_ID,Item_Name,Category,Stock_Quantity,Unit_Price,Last_Stocked_Date
0,101,Table,Apparel,10,500.0,2023-11-01
1,102,Sofa,Electronics,10,NaN,2023-11-04
2,103,Table,Electronics,0,1500.0,2023-11-07
3,104,Shirt,Furniture,30,2000.0,2023-11-10
4,105,Sofa,Apparel,0,1500.0,2023-11-13
5,106,Shirt,Furniture,0,500.0,2023-11-16
6,107,Jeans,Furniture,40,NaN,2023-11-19
7,108,TV,Cosmetics,40,1500.0,2023-11-22
8,109,Shirt,Furniture,20,2000.0,2023-11-25
9,110,TV,Furniture,0,1000.0,2023-11-28
10,111,Shirt,Apparel,20,500.0,2023-12-01
11,112,Table,Apparel,20,500.0,2023-12-04
12,113,Perfume,Apparel,0,1500.0,2023-12-07
13,114,Shirt,Electronics,20,1500.0,2023-12-10
14,115,Shirt,Apparel,30,1500.0,2023-12-13
15,116,TV,Apparel,40,500.0,2023-12-16
16,117,Shirt,Furniture,10,2000.0,2023-12-19
17,118,Shirt,Furniture,30,1000.0,2023-12-22
18,119,Jeans,Apparel,10,1000.0,2023-12-25
19,120,Shirt,Electronics,0,1000.0,2023-12-28
20,121,TV,Cosmetics,10,2000.0,2023-12-31
21,122,Jeans,Electronics,40,1500.0,2024-01-03
22,123,Table,Furniture,10,1000.0,2024-01-06
23,124,Table,Cosmetics,30,1000.0,2024-01-09
24,125,Perfume,Furniture,0,1500.0,2024-01-12
25,126,TV,Furniture,40,1500.0,2024-01-15
26,127,Shirt,Electronics,0,NaN,2024-01-18
27,128,Jeans,Apparel,40,2000.0,2024-01-21
28,129,TV,Apparel,10,1000.0,2024-01-24
29,130,Shirt,Apparel,20,NaN,2024-01-27
30,131,Table,Electronics,0,2000.0,2024-01-30
31,132,Sofa,Electronics,20,2000.0,2024-02-02
32,133,Jeans,Electronics,40,500.0,2024-02-05
33,134,Jeans,Apparel,40,1500.0,2024-02-08
34,135,Shirt,Apparel,10,1000.0,2024-02-11
35,136,Shirt,Cosmetics,0,NaN,2024-02-14
36,137,Jeans,Cosmetics,10,1000.0,2024-02-17
37,138,Jeans,Cosmetics,40,NaN,2024-02-20
38,139,Table,Cosmetics,10,1000.0,2024-02-23
39,140,Table,Furniture,30,2000.0,2024-02-26
40,141,TV,Apparel,0,2000.0,2024-02-29
41,142,Table,Cosmetics,20,1500.0,2024-03-03
42,143,Perfume,Furniture,0,500.0,2024-03-06
43,144,TV,Electronics,10,NaN,2024-03-09
44,145,Sofa,Cosmetics,10,500.0,2024-03-12
45,146,TV,Cosmetics,10,NaN,2024-03-15
46,147,Table,Furniture,20,1000.0,2024-03-18
47,148,Shirt,Apparel,40,2000.0,2024-03-21
48,149,Sofa,Apparel,0,500.0,2024-03-24
49,150,Sofa,Apparel,20,1500.0,2024-03-27

In [26]:
df.fillna({'Unit_Price':df['Unit_Price'].mean().round()}, inplace=True)

In [27]:
df

,Item_ID,Item_Name,Category,Stock_Quantity,Unit_Price,Last_Stocked_Date
0,101,Table,Apparel,10,500.0,2023-11-01
1,102,Sofa,Electronics,10,1274.0,2023-11-04
2,103,Table,Electronics,0,1500.0,2023-11-07
3,104,Shirt,Furniture,30,2000.0,2023-11-10
4,105,Sofa,Apparel,0,1500.0,2023-11-13
5,106,Shirt,Furniture,0,500.0,2023-11-16
6,107,Jeans,Furniture,40,1274.0,2023-11-19
7,108,TV,Cosmetics,40,1500.0,2023-11-22
8,109,Shirt,Furniture,20,2000.0,2023-11-25
9,110,TV,Furniture,0,1000.0,2023-11-28
10,111,Shirt,Apparel,20,500.0,2023-12-01
11,112,Table,Apparel,20,500.0,2023-12-04
12,113,Perfume,Apparel,0,1500.0,2023-12-07
13,114,Shirt,Electronics,20,1500.0,2023-12-10
14,115,Shirt,Apparel,30,1500.0,2023-12-13
15,116,TV,Apparel,40,500.0,2023-12-16
16,117,Shirt,Furniture,10,2000.0,2023-12-19
17,118,Shirt,Furniture,30,1000.0,2023-12-22
18,119,Jeans,Apparel,10,1000.0,2023-12-25
19,120,Shirt,Electronics,0,1000.0,2023-12-28
20,121,TV,Cosmetics,10,2000.0,2023-12-31
21,122,Jeans,Electronics,40,1500.0,2024-01-03
22,123,Table,Furniture,10,1000.0,2024-01-06
23,124,Table,Cosmetics,30,1000.0,2024-01-09
24,125,Perfume,Furniture,0,1500.0,2024-01-12
25,126,TV,Furniture,40,1500.0,2024-01-15
26,127,Shirt,Electronics,0,1274.0,2024-01-18
27,128,Jeans,Apparel,40,2000.0,2024-01-21
28,129,TV,Apparel,10,1000.0,2024-01-24
29,130,Shirt,Apparel,20,1274.0,2024-01-27
30,131,Table,Electronics,0,2000.0,2024-01-30
31,132,Sofa,Electronics,20,2000.0,2024-02-02
32,133,Jeans,Electronics,40,500.0,2024-02-05
33,134,Jeans,Apparel,40,1500.0,2024-02-08
34,135,Shirt,Apparel,10,1000.0,2024-02-11
35,136,Shirt,Cosmetics,0,1274.0,2024-02-14
36,137,Jeans,Cosmetics,10,1000.0,2024-02-17
37,138,Jeans,Cosmetics,40,1274.0,2024-02-20
38,139,Table,Cosmetics,10,1000.0,2024-02-23
39,140,Table,Furniture,30,2000.0,2024-02-26
40,141,TV,Apparel,0,2000.0,2024-02-29
41,142,Table,Cosmetics,20,1500.0,2024-03-03
42,143,Perfume,Furniture,0,500.0,2024-03-06
43,144,TV,Electronics,10,1274.0,2024-03-09
44,145,Sofa,Cosmetics,10,500.0,2024-03-12
45,146,TV,Cosmetics,10,1274.0,2024-03-15
46,147,Table,Furniture,20,1000.0,2024-03-18
47,148,Shirt,Apparel,40,2000.0,2024-03-21
48,149,Sofa,Apparel,0,500.0,2024-03-24
49,150,Sofa,Apparel,20,1500.0,2024-03-27

In [28]:
df.isnull().sum()

Item_ID              0
Item_Name            0
Category             0
Stock_Quantity       0
Unit_Price           0
Last_Stocked_Date    0
dtype: int64

In [30]:
df.to_csv('cleaned_retail_data.csv', index=False)